body {
    margin: 0;
    padding: 0;
    background: #14495e;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}

  